* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Space Mono', monospace;
}

h2 {
    font-size: 20px;
}

.tipper {
    background-color: hsl(185, 41%, 84%);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tipper__bg {
    background-color: white;
    width: 55%;
    height: 80%;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    padding: 3%
}

.tipper__sides {
    width: 50%;
    border-radius: 15px;
}

.right {
    background-color: hsl(183, 100%, 15%);
    color: rgb(38, 194, 173);
    justify-content: space-between;
    flex-direction: column;
    display: flex;
    padding: 3%;
}

.right h2 {
    color: white;
}

.right span {
    font-size: 40px;
}

.tipper__amount {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tipper__amount:first-child {
    margin-bottom: 2vh;
}

.reset {
    border-radius: 10px;
    font-weight: bold;
    opacity: 0.5;
    font-size: 30px;
    padding: 8%;
    outline: none;
    border: none;
    background-color: rgb(38, 194, 173);
}

.left {
    font-size: 25px;
    color: hsl(186, 14%, 43%);
    padding-right: 3%;
}

.tipper__bill-cont {
    position: relative;
    width: 100%;
    background-color: hsl(189, 41%, 97%);
}

.tipper__bill-cont > span {
    color: hsl(186, 14%, 43%);
    margin-left: 10px;
    position: absolute;
    top: 0;
    left: 0;
}

.tipper__bill-inp {
    padding: 15px;
    font-size: 25px;
    background-color: hsl(189, 41%, 97%);
    border: none;
    outline: none;
    text-align: right;
    width: 100%;
}

.tipper__warning{
    color: darkorange;
    background-color:beige;
    display: none;
}
.tipper__percval-warning{
    color: darkorange;
    background-color:beige;
    display: none;
}

.tipper__percents {
    display: flex;
    flex-wrap: wrap;
}

.tipper__percval {
    border: 3px hsl(183, 100%, 15%) solid;
    margin: 5px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 35px;
    list-style: none;
    width: 2em;
    background-color: hsl(183, 100%, 15%);
}

.tipper__percval a {
    color: white;
    text-decoration: none;
}

.tipper__percval:last-of-type {
    background-color: white;
    border: 3px rgb(38 194 173) solid;
}

.tipper__percval:last-of-type > input {
    border: none;
    font-size: 15px;
    width: 50px;
}

.add {
    margin-top: 2em;
    width: 100%;
    border-radius: 10px;
    font-weight: bold;
    font-size: 30px;
    padding: 8%;
    outline: none;
    border: none;
    background-color: rgb(38, 194, 173);
}
}
